body {
  /* opacity: 0.25;  */
  background: var(--dark) url("../assets/crew/background-crew-desktop.jpg")
    no-repeat;
}

nav {
  margin-bottom: 11px;
}

main {
  display: flex;
  justify-content: center;
}

h4 {
  color: #fff;
  opacity: 0.4951;
}

svg {
  cursor: pointer;
}

.grid {
  max-width: 450px;
  text-align: center;
  margin: 0 24px 104px 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "image"
    "info";
}

.person-image {
  height: 222px;
}

.first-title {
  grid-area: title;
  margin-bottom: 32px;
}

.container-image {
  height: 223px;
  margin-bottom: 32px;
  border-bottom: 1px solid #383b4b;
  grid-area: image;
}

.container-crew {
  grid-area: info;
}

.container-crew__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-crew__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-crew__tabs__circles {
  margin: 0 auto;
  margin-bottom: 32px;
}

#douglas {
  width: 177.123px;
}

#mark {
  width: 153.92px;
}

#victor {
  width: 180.726px;
}

#anousheh {
  width: 226.147px;
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/crew/background-crew-mobile.jpg") no-repeat;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/crew/background-crew-tablet.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) {
  nav {
    margin-bottom: 40px;
  }

  .first-title {
    text-align: start;
    margin-bottom: 60px;
  }

  .person-image {
    width: 456.372px;
    height: 572px;
  }

  .grid {
    max-width: max-content;
    margin-bottom: 0;
    grid-template-areas:
      "title"
      "info"
      "image";
  }

  .container-image {
    margin-bottom: 0;
    border-bottom: none;
    height: 532px;
    overflow: hidden;
  }

  .container-crew {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-crew__bio {
    margin: 0 140px 40px 140px;
  }

  #douglas {
    width: 456.372px;
  }

  #mark {
    width: 368.853px;
  }

  #victor {
    width: 433.09px;
  }

  #anousheh {
    width: 539.508px;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    margin-bottom: 76px;
  }

  main {
    display: block;
    max-width: 1150px;
    margin: 0 auto;
  }

  h4,
  h3 {
    text-align: start;
  }

  svg {
    display: block;
  }

  .first-title {
    text-align: start;
    margin-bottom: 0;
  }

  .person-image {
    position: absolute;
    bottom: 0;
    right: 20px;
  }

  .grid {
    grid-template-columns: 650px 500px;
    grid-template-rows: 188px 524px;
    grid-template-areas:
      "title image"
      "info  image";
  }

  .container-image {
    position: relative;
    height: 100%;
    overflow: visible;
  }

  .container-crew {
    justify-content: flex-end;
  }

  .container-crew__item {
    gap: 27px;
  }

  .container-crew__info {
    gap: 15px;
  }

  .container-crew__tabs__circles {
    margin: 0;
  }

  .container-crew__bio {
    width: 444px;
    margin: 0;
    height: 200px;
  }

  #douglas {
    width: 568.072px;
    height: 712px;
  }

  #mark {
    width: 453.44px;
    height: 654px;
  }

  #victor {
    width: 554.388px;
    height: 681px;
  }

  #anousheh {
    width: 615.567px;
    height: 607px;
  }
}
