nav {
  margin-bottom: 11px;
}

main {
  padding: 0 24px;
  margin-bottom: 3.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.planet-image {
  width: 259px;
  height: 259px;
}

.divider {
  width: 327px;
  height: 1px;
  background: var(--grey);
  margin: 32px 0;
}

.first-title {
  text-align: center;
  margin-bottom: 32px;
  color: #fff;
}

.tabs-ul {
  width: 238px;
  height: 28px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.tabs-ul a {
  color: var(--light-blue);
  font-size: 0.875rem;
  letter-spacing: 0.14763rem;
}

.tabs-ul__li {
  position: relative;
}

.tabs-ul__li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 36px;
  height: 3px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.tabs-ul__li.active::before {
  opacity: 1;
}

.tabs-ul__li:hover::before {
  opacity: 0.5021;
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/destination/background-destination-mobile.jpg")
      no-repeat;
  }
}
