body {
  background: var(--dark) no-repeat
    url("../assets/destination/background-destination-desktop.jpg");
  background-size: cover;
}

nav {
  margin-bottom: 11px;
}

main {
  padding: 0 24px;
  margin-bottom: 1.56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.first-title {
  text-align: center;
  margin-bottom: 32px;
  color: #fff;
}

.container-planet,
.container-info {
  text-align: center;
  width: 100%;
}

.planet-image {
  width: 174px;
  height: 174px;
}

.container-info__tabs {
  margin-bottom: 20px;
}

.tabs-ul {
  width: 238px;
  height: 28px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.tabs-ul li {
  position: relative;
}

.tabs-ul a {
  color: var(--light-blue);
  font-size: 0.875rem;
  letter-spacing: 0.14763rem;
}

.tabs-ul a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.tabs-ul a:hover::before {
  opacity: 0.5021;
}

.tabs-ul a.active::before {
  opacity: 1;
}

.container__data {
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 32px 0;
  background: var(--grey);
}

.sub-heading-2 {
  color: var(--light-blue);
  margin-bottom: 12px;
}

.sub-heading-1 {
  margin-bottom: 32px;
}

.container-info__planet {
  display: flex;
  justify-content: center;
}

.container-info__planet__div {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

.container-info__planet__div.active {
  opacity: 1;
  max-width: 573px;
  max-height: min-content;
}

@media screen and (max-width: 375px) {
  body {
    background: cover
      url("../assets/destination/background-destination-mobile.jpg") no-repeat;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: cover
      url("../assets/destination/background-destination-tablet.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) {
  nav {
    margin-bottom: 40px;
  }

  main {
    gap: 1.5rem;
    margin-bottom: 3.88rem;
  }

  .first-title {
    text-align: start;
    margin-bottom: 62px;
  }

  .planet-image {
    width: 305px;
    height: 305px;
  }

  .tabs-ul {
    width: 285.5px;
    height: 34px;
  }

  .tabs-ul a {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
  }

  .container__data {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90px;
  }

  .divider {
    margin-bottom: 0;
  }

  .sub-heading-1 {
    margin: 0;
  }

  .sub-heading-2 {
    width: 216px;
  }

  .container-info__planet__div.active {
    max-width: 573px;
  }
}

@media screen and (min-width: 1280px) {
  nav {
    margin-bottom: 76px;
  }

  main {
    flex-direction: row;
    width: 1160px;
    margin: 0 auto 118px auto;
    gap: 5rem;
  }

  .planet-image {
    width: 450px;
    height: 450px;
  }

  .container-info {
    align-self: flex-end;
  }

  .container-info__tabs {
    margin-bottom: 37px;
    margin-left: 40px;
  }

  .tabs-ul {
    margin: 0;
  }

  .container__name {
    text-align: start;
  }

  .container-info__planet__div.active {
    max-width: 444px;
  }

  .container__data {
    justify-content: start;
    text-align: start;
  }

  .divider {
    margin-top: 54px;
  }
}
