:root {
  --dark: #0b0d17;
  --light-blue: #d0d6f9;
}

*,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Barlow Condensed", sans-serif;
}

h1,
h4 {
  font-family: "Bellefair", serif;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 6.25rem;
  margin: 0;
}

h4 {
  color: var(--dark);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.07813rem;
}

h5 {
  color: var(--light-blue);
  /* text-align: center; */
  text-transform: uppercase;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16875rem;
}

p {
  color: var(--light-blue);
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

nav {
  height: 35px;
  padding: 38.5px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

nav .logo {
  width: 40px;
  height: 40px;
}

.nav-ul {
  position: fixed;
  right: 0;
  top: 0;
  width: 254px;
  min-height: 100vh;
  padding: 30px 26.5px 34px 32px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);

  transform: translateX(254px);
  -webkit-transform: translateX(254px);
  -moz-transform: translateX(254px);
  -ms-transform: translateX(254px);
  -o-transform: translateX(254px);

  transition: transform 0.5s ease-in;
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -ms-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
}

.nav-ul__close {
  width: 19.092px;
  height: 19.092px;
  margin-bottom: 64.95px;
}

.nav-ul__hamburger {
  width: 24px;
  height: 21px;
  margin-left: auto;
}

.nav-ul__li {
  margin-bottom: 32px;
}

.nav-ul__li span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }

  h5 {
    font-size: 1.25rem;
    letter-spacing: 0.21094rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  nav {
    height: 96px;
    padding-right: 0;
    margin-bottom: 106px;
  }

  nav .logo {
    width: 48px;
    height: 48px;
  }

  .nav-ul {
    position: static;
    width: 450px;
    min-height: 96px;
    padding: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-ul__li {
    position: relative;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.14763rem;
  }

  .nav-ul__hamburger,
  .nav-ul__close {
    display: none;
  }

  .nav-ul__li span {
    display: none;
  }

  .nav-ul__li::before {
    content: "";
    position: absolute;
    top: 53px;
    width: 100%;
    height: 3px;
    background: #fff;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .nav-ul__li.active::before {
    opacity: 1;
  }

  .nav-ul__li:hover::before {
    opacity: 0.5021;
  }
}

@media screen and (min-width: 1280px) {
  h5 {
    font-size: 1.75rem;
    letter-spacing: 0.29531rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: start;
  }

  nav {
    margin: 40px 0 251px 55px;
  }

  .nav-ul {
    width: 830px;
  }

  .nav-ul__li {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
  }

  .nav-ul::before {
    content: "";
    position: absolute;
    right: 800px;
    width: 473px;
    height: 1px;
    opacity: 0.2515;
    background: #fff;
  }

  .nav-ul__li span {
    display: inline;
  }
}
