body {
  background: var(#0b0d17);
  background: no-repeat url("../assets/home/background-home-desktop.jpg");
}

main {
  padding: 0 24px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.container__text {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__circle {
  width: auto;
  margin: 0 auto;
}

.container__circle__link {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) {

  main{
    gap: 9.75rem;
    margin-bottom: 5.6rem;
  }

  .container__text {
    gap: 1.5rem;
    width: 27.75rem;
  }
  
  .container__circle__link {
    width: 242px;
    height: 242px;
    font-size: 32px;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .container__circle__link {
    width: 274px;
    height: 274px;
  }
}
