body {
  background-color: var(--dark);
  background: no-repeat url("../assets/home/background-home-desktop.jpg");
  background-size: cover;
  /* background: url("../assets/home/background-home-desktop.jpg"), lightgray 0px 0px / 100% 100% no-repeat; */
}

main {
  padding: 0 24px;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.container__text {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__circle {
  width: auto;
  margin: 0 auto;
}

.container__circle__link {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.container__circle__link:hover::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.1036;
  transition:  all 0.9s ease;
}

@media screen and (max-width: 768px) {
  body {
    background: url("../assets/home/background-home-tablet.jpg") no-repeat;
  }
}

@media screen and (max-width: 375px) {
  body {
    background: url("../assets/home/background-home-mobile.jpg") no-repeat;
  }
}

@media screen and (min-width: 768px) {
  main {
    gap: 9.75rem;
    margin-bottom: 89.6px;
  }

  .container__text {
    gap: 1.5rem;
    width: 27.75rem;
  }

  .container__circle__link {
    width: 242px;
    height: 242px;
    font-size: 32px;
    letter-spacing: 2px;
  }

  .container__circle__link:hover::after {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    flex-direction: row;
    max-width: 1110px;
    padding: 0;
    margin: 0 auto 131px auto;
  }

  .container__text {
    align-items: start;
  }

  .container__circle {
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
  }

  .container__circle__link {
    width: 274px;
    height: 274px;
  }
}
