* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* max-width: 1280px; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 30px;
  color: #fff;
  background: center / cover no-repeat
    url("../assets/home/background-home-mobile.jpg");
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

nav {
  height: 35px;
  padding: 38.5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 35;
  height: 35px;
}

.nav-ul {
  min-width: 50%;
}

.nav-ul__close {
  display: none;
}

.nav-ul__hamburger {
  width: 35px;
  height: 25px;
  margin-left: auto;
}

.nav-ul__li {
  margin-right: 45px;
  display: none;
}

.container__text,
.container__circle {
  width: auto;
  text-align: center;
}

.container__circle {
  margin: 0 auto;
}

.container__circle__link {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: #000;
  text-transform: uppercase;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
