body {
  background: var(--dark) no-repeat
    url("../assets/technology/background-technology-desktop.jpg");
  background-size: cover;
}

nav {
  margin-bottom: 11px;
}

main {
  margin-bottom: 56.33px;
}

.first-title {
  text-align: center;
  margin-bottom: 32px;
  color: #fff;
}

.subtitle {
  font-size: 0.875rem;
  letter-spacing: 0.14763rem;
}

.tabs-ul {
  margin-top: 34px;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.tabs-ul__li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-ul__li.active {
  color: var(--dark);
  background-color: #fff;
  transition: all 3s ease-in;
}

.tabs-ul__li:hover {
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25);
}

.container-info{
  margin: 0 24px ;
}

.container-image {
  min-height: 160px;
  max-height: 310px;
  height: 45vw;
  max-width: 768px;
  background-image: url("../assets/technology/image-launch-vehicle-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-info__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-info__text__technology {
  display: flex;
  flex-direction: column;
  gap: 9px;
  text-align: center;
}

.container-info__text__description {
  margin: 0 19px;
}

@media screen and (max-width: 375px) {
  body {
    background: cover
      url("../assets/technology/background-technology-mobile.jpg") no-repeat;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: cover
      url("../assets/technology/background-technology-tablet.jpg") no-repeat;
  }
}
